---
const {git} = Astro.props;
---
<footer class="card black">
  <div class="row">
    <div class="col s12 m6 l4">
      <a class="btn black white-text"> github </a>
      <a class="btn black white-text "> dev.to </a>
      <a class="btn black white-text">npmjs </a>
    </div>
  </div>
</footer>